html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}nav[role="navigation"]  {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(233, 233, 233, 0.3);
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.86);
}


nav[role="navigation"] ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row no-wrap;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav[role="navigation"] ul li a {
  color: inherit;
  text-decoration: none;
  font-family: 'Roboto';
  text-transform: uppercase;
  display: block;
  height: 100%;
  padding: 0 12px;
}

nav[role="navigation"] ul li {
  margin: 0 8px;
  height: 100%;
  line-height: 56px;
  color: rgba(0, 0, 0, 0.86);
}

nav[role="navigation"] ul.nav-right li :hover {
  color: #009688;
}

nav[role="navigation"] ul.nav-right li.active {
  color: #009688;
  border-bottom: 3px solid #009688;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

nav[role="navigation"] ul.nav-left {
  list-style: none;
  padding: 0;
  margin: 0;
  
  position: absolute;
  top: 0;
  right: 0;
  
}

nav[role="navigation"] ul.nav-left li {
  margin: 0;
}

nav[role="navigation"] ul.nav-left li a  {
  padding: 0 20px;
}

nav[role="navigation"] ul.nav-left .highlight {
  background-color: #009688;
  color: rgba(255, 255, 255, .86);
}.container {
  max-width: 980px;
  margin: 16px auto;
  padding: 0 10px;
  font-size: calc(17px + 4 * ( (100vw - 420px) / 860));
  font-family: 'open sans';
  min-height: calc(100vh - 92px);
}
@media screen and (min-width: 1280px) {
  .container {
    font-size: 21px;
  }
}
@media screen and (max-width: 420px) {
  .container {
    font-size: 17px;
  }
}.container ul.submissions {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container .submissions li {
  margin-bottom: 45px;
}

.container .submissions li .title {
  color: #009688;
  margin: 5px 0;
  padding: 0;
}

.container .submissions li .title a {
  color: inherit;
  text-decoration: none;
}

.container .submissions li .subtitle {
  font-size: 0.86em;
  opacity: 0.7;
}
.container .submissions li .subtitle a {
  color: black;
}

.container .submissions li .description {
  margin-top: 12px;
}

.container .submissions li .submission-footer {
  margin-top: 12px;
}

.container .submissions li .submission-footer a {
  font-size: 0.7em;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 13px;
  font-family: 'Roboto';
  background: rgba(233, 233, 233, 0.6);
}

html body .container .submissions li .submission-footer a.active {
  background-color: #009688 !important;
  color: rgba(255, 255, 255, 0.85); /* titanium hwite */
}form.leddit-form {
  
}

form.leddit-form .input-group {
  width: 100%;
  margin: 1.2em 0;
}

form.leddit-form .input-group label {
  display: block;
  margin: 3px 0;
}

form.leddit-form .input-group input, form.leddit-form .input-group textarea {
  display: block;
  width: 100%;
  padding: 7px 3px;
  font-size: calc(17px + 4 * ( (100vw - 420px) / 860));
}

@media screen and (min-width: 1280px) {

  form.leddit-form .input-group input, form.leddit-form .input-group textarea {
    font-size: 21px;
  }
}

@media screen and (max-width: 420px) {

  form.leddit-form .input-group input, form.leddit-form .input-group textarea {
    font-size: 17px;
  }
}
form.leddit-form button[type="submit"] {
  background: rgba(0, 150, 136, 0.7);;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, .86);
  width: 75%;
  min-width: 12em;
  font-size: calc(17px + 6 * ( (100vw - 420px) / 860));
  display: block;
  margin: 1.5em auto;
  padding: 1em 0px;
  pointer-events: none;
}
@media screen and (min-width: 1280px) {

  form.leddit-form button[type="submit"] {
    font-size: 23px;
  }
}
@media screen and (max-width: 420px) {

  form.leddit-form button[type="submit"] {
    font-size: 17px;
  }
}

html body form.leddit-form button[type="submit"]:active {
  background-color: rgba(255, 255, 255, .86) !important;
  color: #009688 !important;
  box-shadow: 0 0 0 5px #009688;
}

form.leddit-form .input-group input.ng-valid, form.leddit-form .input-group textarea.ng-valid {
  border: 3px solid #009688;
}

form.leddit-form .input-group input.ng-invalid, form.leddit-form .input-group textarea.ng-invalid {
  border: 3px solid #FF5722;
}

form.leddit-form .input-group input.ng-pristine, form.leddit-form .input-group textarea.ng-pristine {
  border: 1px solid rgb(218, 218, 218) !important;
}


.form-errors div {
  background-color: #FF9E80;
  color: #DD2C00;
  font-weight: bold;
  padding: 5px 13px;
  margin-top: 5px;
}

form.leddit-form button[type="submit"].active {
  background-color: rgba(0, 150, 136, 1);
  pointer-events: all !important;
}.submission-detail-view {
  
}

.submission-detail-view h1.title  {
  padding: 0;
  margin: 0;
}

.submission-detail-view .title a {
  color: #009688;
  text-decoration: none;
}

.submission-detail-view .subtitle {
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: .9em;
}

.submission-detail-view .subtitle a {
  color: inherit;
}

.submission-detail-view .description {
  margin: 12px 0;
}


.submission-detail-view .sub-stats a { 
  font-size: 0.7em;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 13px;
  font-family: 'Roboto';
  background: rgba(233, 233, 233, 0.6);
}

.submission-detail-view .sub-add-comment-form {
  
}

.submission-detail-view .sub-add-comment-form textarea {
  display: block;
  width: 100%;
  margin: 7px 0;
  font-size: calc(16px + 7 * ( (100vw - 420px) / 860));
}

@media screen and (min-width: 1280px) {

  .submission-detail-view .sub-add-comment-form textarea {
    font-size: 23px;
  }
}

@media screen and (max-width: 420px) {

  .submission-detail-view .sub-add-comment-form textarea {
    font-size: 16px;
  }
}

.submission-detail-view .sub-add-comment-form button[type="submit"] {
  background: rgba(0, 150, 136, 0.7);;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, .86);
  width: 100%;
  font-size: calc(16px + 7 * ( (100vw - 420px) / 860));
  display: block;
  margin: .5em auto;
  padding: .3em 0px;
  pointer-events: none;
}

@media screen and (min-width: 1280px) {

  .submission-detail-view .sub-add-comment-form button[type="submit"] {
    font-size: 23px;
  }
}

@media screen and (max-width: 420px) {

  .submission-detail-view .sub-add-comment-form button[type="submit"] {
    font-size: 16px;
  }
}

html body .submission-detail-view .sub-add-comment-form button[type="submit"]:active {
  background-color: rgba(255, 255, 255, .86) !important;
  color: #009688 !important;
  box-shadow: 0 0 0 5px #009688;
}

html body .submission-detail-view .sub-add-comment-form button[type="submit"].active {
  background-color: rgba(0, 150, 136, 1);
  pointer-events: all !important;
}

html body .submission-detail-view  ul.comments {
  list-style: none;
  padding: 0;
  margin: 0;
}

html body .submission-detail-view  ul.comments li:nth-child(1) {
  margin-top: 28px;
}

html body .submission-detail-view  ul.comments li {
  margin: 9px 0;
  padding: 0;
}



html body .submission-detail-view  ul.comments li .comment-header {
  color: rgba(0, 0, 0, 0.65);
  font-size: .85em; 
}

html body .submission-detail-view  ul.comments li .comment-header .username {
  color: rgba(0, 0, 0, 0.72);
}

html body .submission-detail-view  ul.comments li .comment-header .timeago {
  font-style: italic;
}

html body .submission-detail-view  ul.comments li .comment-body {
  word-wrap: break-word;
}

footer[role="site-footer"] {
  background-color: #009688;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
}

footer[role="site-footer"] .row {
  padding: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-family: 'Roboto' sans-serif;
  font-size: 16px 21px;
}

footer[role="site-footer"] .row h3 {
 display: inline-block; 
 padding: 0;
 margin: 0;
 font-weight: 400;
 margin: 12px 0;
}


footer[role="site-footer"] .row ul.shortcuts {
  list-style: none;
  margin: 12px 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer[role="site-footer"] .row .shortcuts li {
  margin: 0 40px;
  padding: 0;
  display: inline-block;
}

footer[role="site-footer"] .row .shortcuts li a {
  text-decoration: inherit;
  color: inherit;
  
}