<form class="leddit-form"
  novalidate="novalidate"
  ng-submit="submit()"
  name="addForm">
  
  <h3 class="form-title">Share your stuff with the community!</h3>
  
  <div class="input-group">
    <label for="">submission title</label>
    <input type="text">
  </div>
  
  <div class="input-group">
    <label for="">description</label>
    <textarea name="" id="" cols="30" rows="5"></textarea>
  </div>
  
  <div class="input-group">
    <label for="">link</label>
    <input type="text">
  </div>
  
  <button type="submit">add</button>
  
</form>