<form class="form-auth" 
  novalidate="novalidate" 
  ng-submit="submit()"
  name="registerForm">
  
  <h3 class="form-title">Join our amazing community</h3>
  
  <div class="input-group">
    <label for="">username</label>
    <input type="text" ng-model="credentials.username" name="username" is-unique="/api/users/???">
  </div>
  <span ng-show="registerForm.username.$error.ununique">elo</span>    
  </div>
  <div class="input-group">
    <label for="">email</label>
    <input type="email" ng-model="credentials.email" name="email">
  </div>
  
  <div class="input-group">
    <label for="">password</label>
    <input type="password" ng-model="credentials.password" name="password">
  </div>
    
  <div class="input-group">
    <label for="">confirm password</label>
    <input type="password" ng-model="credentials.passconf" name="passconf">
  </div>
  <div>
    {{credentials | json}}
  </div>
  <button type="submit">Register now!</button>
  
</form>