<div class="submission-detail-view">
  
  <h1 class="title">
    <a href="#">{{sub.title}}</a>
  </h1>
  
  <div class="subtitle">
    by <a href="#">{{sub.user.name}}</a> <span am-time-ago="sub.created_at"></span>, from <a href="#">google.pl</a>
  </div>
  
  <div class="description">
    {{sub.description}}
  </div>
  
  <div class="sub-stats">
    <a href="javascript:void(0)"> {{sub.comments.length | plurify: 'comment'}}</a> 
    <a ng-click="likeSub(sub.id)" ng-class="{active: sub.hasLiked}" href="javascript:void(0)">{{sub.likes.length | plurify: 'like' }}</a>
    <a href="#">share</a>
  </div>
  
  <form class="sub-add-comment-form" data-ng-submit="postNewComment()">
      <textarea name="" id="" cols="30" rows="10" ng-model="newcomment"></textarea>
      <button type="submit" class="active">Send</button>
  </form>
  
  <ul class="comments">
    <li data-ng-hide="sub.comments.length">
      No comments yet, you go first!
    </li>
    <li ng-repeat="comment in sub.comments">
      <div class="comment-header">
        <a class="username" href="#TODO">{{comment.user.name}}</a>
        <span class="timeago"><span am-time-ago="comment.created_at"></span></span>
        wrote
      </div>
      <div class="comment-body" data-comment-id="{{comment.id}}">{{comment.body}}</div>
      <a class="edit" ng-show="comment.user.id == Login.userId && !editing.comId" href="javascript:void(0)" ng-click="makeCommentEdditable(comment.id)">edit</a>
      <a class="edit" ng-show="editing.comId == comment.id" href="javascript:void(0)" ng-click="editComment(comment.id)">submit</a>
    </li>
  </ul>
  
</div>