footer[role="site-footer"] {
  background-color: #009688;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
}

footer[role="site-footer"] .row {
  padding: 24px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: 'Roboto' sans-serif;
  font-size: 16px 21px;
}

footer[role="site-footer"] .row h3 {
 display: inline-block; 
 padding: 0;
 margin: 0;
 font-weight: 400;
 margin: 12px 0;
}


footer[role="site-footer"] .row ul.shortcuts {
  list-style: none;
  margin: 12px 0;
  padding: 0;
  display: flex;
}

footer[role="site-footer"] .row .shortcuts li {
  margin: 0 40px;
  padding: 0;
  display: inline-block;
}

footer[role="site-footer"] .row .shortcuts li a {
  text-decoration: inherit;
  color: inherit;
  
}