form.form-auth {
  
}

form.form-auth .input-group {
  width: 100%;
  margin: 1.2em 0;
}

form.form-auth .input-group label {
  display: block;
  margin: 3px 0;
}

form.form-auth .input-group input {
  display: block;
  width: 100%;
  padding: 7px 3px;
  font-size: responsive;
}
form.form-auth button[type="submit"] {
  background: rgba(0, 150, 136, 0.7);;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, .86);
  width: 75%;
  min-width: 12em;
  font-size: responsive 17px 23px;
  display: block;
  margin: 1.5em auto;
  padding: 1em 0px;
  pointer-events: none;
}

html body form.form-auth button[type="submit"]:active {
  background-color: rgba(255, 255, 255, .86) !important;
  color: #009688 !important;
  box-shadow: 0 0 0 5px #009688;
}

form.form-auth .input-group input.ng-valid {
  border: 3px solid #009688;
}

form.form-auth .input-group input.ng-invalid {
  border: 3px solid #FF5722;
}

form.form-auth .input-group input.ng-pristine {
  border: 1px solid rgb(218, 218, 218) !important;
}


.form-errors div {
  background-color: #FF9E80;
  color: #DD2C00;
  font-weight: bold;
  padding: 5px 13px;
  margin-top: 5px;
}

form.form-auth button[type="submit"].active {
  background-color: rgba(0, 150, 136, 1);
  pointer-events: all !important;
}